.greetings {
    background: cadetblue;
    font-size: calc(1vw + 1vh);
    position: relative;
    text-align: center;
    width: 80vw;
    height: 6vw;
    top: 20%;
    left: 10%;
}

.start_test {
    display: inline-block;
    background-color: #64d943;
    font-size: xx-large;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.create_quiz {
    display: inline-block;
    background-color: #d9c543;
    font-size: calc(1vw + 1vh);
    position: relative;
    text-align: center;
    width: 15vw;
    height: 3vw;
    top: 70%;
    left: 45%;

}

.run_quiz {
    display: inline-block;
    background-color: #ec67a5;
    font-size: calc(1vw + 1vh);
    position: relative;
    text-align: center;
    width: 22vw;
    height: 3vw;
    top: 70%;
    left: 5%;
}

.created_quiz {
    display: inline-block;
    background-color: #a9ffa0;
    font-size: calc(1vw + 1vh);
    position: relative;
    text-align: center;
    width: 20vw;
    height: 3vw;
    top: 70%;
    left: 25%;
}

.question {
    font-size: 30px;
    position: absolute;
    top: 10%;
    left: 20%;
}

.choise {
    font-size: 20px;
    position: relative;
    top: 300px;
    left: 200px;
}

.button {
    color: #64d943;
    position: absolute;
    top: 60%;
    left: 50%;
}

label input[type='checkbox'] {
    margin-left: 10px;
}

.pagination_button_next {
    font-size: 25px;
    text-decoration: none;
    color: #1a79c1;
    position: absolute;
    top: 70%;
    left: 60%;
    padding-right: 20px;
}

.pagination_button_previous {
    font-size: 25px;
    text-decoration: none;
    color: #1a79c1;
    position: absolute;
    top: 70%;
    left: 35%;
    padding-right: 20px;
}

.finish_test {
    display: inline-block;
    background-color: #adf5dc;
    font-size: xx-large;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.result {
    font-size: x-large;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.percent {
    color: #0055ff;
    font-size: 50px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.restart {
    display: inline-block;
    font-size: xx-large;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.restart a {
    text-decoration: none;
    color: #2a9102;
}

.no_quizes {
    background: #61a3c8;
    font-size: x-large;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.quiz_list {
    font-size: 25px;
    position: relative;
    left: 2%;
    padding-right: 20px;
}

.quiz_list a {
    text-decoration: none;
    color: cornflowerblue;
}

.delete {
    font-size: 15px;
    position: relative;
    top: 10%;
    left: 2%;
    display: inline-block;
}

.delete a {
    text-decoration: none;
    color: red;
}


.quiz_title {
    font-size: calc(1vw + 1vh);
    position: relative;
    text-align: center;
    width: 20vw;
    height: 4vw;
    top: 70%;
    left: 30%;
    margin-bottom: 10%;
}

.quiz_create_button {
    color: #1a79c1;
    font-size: calc(1vw + 1vh);
    position: relative;
    text-align: center;
    width: 20vw;
    height: 4vw;
    top: 50%;
    left: 36%;
    margin-bottom: 10%;
}


.question_title {
    font-size: calc(1vw + 1vh);
    position: relative;
    text-align: center;
    width: 70vw;
    height: 3vw;
    top: 80%;
    left: 15%;
    margin-top: 10%;
    margin-bottom: 20px;
}

.choice_text {
    font-size: calc(1vw + 1vh);
    position: relative;
    text-align: center;
    width: 30vw;
    height: 1vw;
    top: 10%;
    left: 37%;

}


.question_add_button {
    display: inline-block;
    font-size: calc(1vw + 1vh);
    position: relative;
    text-align: center;
    width: 20vw;
    height: 3vw;
    left: 25%;
    margin-top: 40px%;
    background: #6d74ff;
}

.quiz_add_button {
    display: inline-block;
    font-size: calc(1vw + 1vh);
    position: relative;
    text-align: center;
    width: 20vw;
    height: 3vw;
    left: 25%;
    margin-top: 40px%;
    background: #aee363;
}