{% extends 'base.html' %}

{% load static %}

{% block title %}

    <title>Созданные квизы</title>

{% endblock %}

{% block content %}

{% if quizes %}

    {% for quiz in quizes %}

    <p>
        <span class="quiz_list" ><a href="{% url 'own_quiz' type='custom_quiz' pk=quiz.pk%}">{{ quiz.title }}</a></span>
        <span class="delete"><a href="{% url 'delete'  pk=quiz.pk%}">Удалить</a></span>

    </p>

    {% endfor %}

{% else %}

<div class="no_quizes">У вас нет созданных квизов!</div>

{% endif %}

<div class="restart"><a href="{% url 'show_first_page'  %}">На главную страницу</a></div>

{% endblock %}
