{% extends 'base.html' %}

{% load static %}


{% block title %}

    <title>Созданные квизы</title>

{% endblock %}

{% block content %}


    <form method="post">
        <button type="submit" class="question_add_button" name = 'add_question' >Добавить еще вопрос</button>
        <button type="submit" class="quiz_add_button" name = 'create_quiz' >ГОТОВО</button>


    {% csrf_token %}


        {{ form.text}}
        {{ form.quiz}}




    <div class="choice_text">
    {{ form_a.as_p}}
</div>


        <div class="middle_div"></div>



    </form>


{% endblock %}